#home .home_container .row {
  margin: 1rem;
}

#home .home_container .row p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#home .home_container .row .btn {
  border-radius: 50px;
  background: #00000047;
  border: none;
  width: fit-content;
  margin: 1rem auto;
}
#home .home_container .row .btn:hover {
  background: #3c343437;
}
#home .home_container .row .btn:active {
  transform: translateY(4px);
}
#home .home_container .row .btn a {
  text-decoration: none;
  color: #251f1f;
}
#home .home_container .row .btn a:hover {
  color: #100c0c9a;
}
@media (max-width: 768px) {
  #home .home_container .row .col {
    display: grid;
    grid-template-columns: repeat(2);
  }
  #home .home_container .row img {
    width: 100%;
  }
  #home .home_container .row p {
    font-size: 12px;
  }
}
