.navbar {
  background: linear-gradient(
    179.4deg,
    rgba(253, 240, 233, 0.66) 2.2%,
    rgba(255, 194, 203, 0.67) 96.2%
  );
  padding: 0;
}
.navbar .navbar_container .navbar-brand {
  margin: 0;
}
.navbar .navbar_container .navbarBrand_content {
  display: flex;
  align-items: center;
}
.navbar .navbar_container .navbarBrand_content p {
  font-size: 13px;
  font-family: "Pacifico", cursive;
  margin: 0;
  color: #402a23;
}
.navbar .navbar_container .navbarBrand_content img {
  width: 60px;
  margin: 0;
  padding: 0;
}
